header{
  #d-info{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  h2{
    text-align:center;
    border-style:solid;
    border-width:2px;
    padding:4px 6px;
    width:fit-content;
  }
    div{
      img{
        width:120px;
      }
    }
  }
  nav{
    justify-content:center;
    margin:20px 0px;
    #l{
      display:flex;
/*       background-color:bisque; */
      justify-content:center;
      a{
/*         text-align:center; */
        display:block;
        width:fit-content;
        transition:background-color 0.2s,transform 0.2s;
        margin:0px 10px;
        font-size:22px;
        color:inherit;
        text-decoration:none;
        padding:8px;
      }
    }
  }
}
header nav #l a:hover{
  cursor:pointer;
  transform: translate(0px,-4px);
  background-color:bisque;
}
#ib{
  display:flex;
  justify-content:center;
  #ia{
    #bcon{
      display:flex;
      gap:25px;
      justify-content:center;
/*       background-color:orange; */
      #rem{
        user-select:none;
/*         border-color:white; */
          transition:color 0.2s,background-color 0.2s;
        border-style:solid;
        border-color:black;
        cursor:pointer;
        background-color:rgb(94, 94, 73);
        color:white;
        align-items:center;
      margin:15px 0px 0px 0px;
      justify-self:center;
      width:fit-content;
      border-radius:10px;
      padding:10px 10px;
      font-size:24px;
      }
    }
    box-sizing:border-box;
      h1{
    text-align:center;
/*     margin:0px; */
  }
    #add{
      user-select:none;
      transition:background-color 0.2s,color 0.2s;
      b{
        margin-right:5px;
      }
      border-color:black;
      align-items:center;
      margin:15px 0px 0px 0px;
      justify-self:center;
      width:fit-content;
      border-radius:10px;
      padding:10px 10px;
      font-size:24px;
      background-color:rgba(241, 223, 248, 1);
      color:black;
      border-style:solid;
      cursor:pointer;
    }
    border-style:solid;
    border-radius:20px;
    text-align:center;
    width:fit-content;
/*     background-color:bisque; */
    /* justify-self:center; */
    padding:20px;
    input{
      width:500px;
      height:40px;
      margin:10px 0px;
      font-size:20px;
      background-color:bisque;
      border-radius:20px;
      padding:0px 0px 0px 20px;
    }
    label{
      font-size:22px;
      display:inline-block;
      width:200px;
      text-align:left;
    }
  }
}

#d{
  .con{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
  .e{
    /* justify-self:center; */
    width:60%;
    padding:12px;
    box-sizing:border-box;
    border-style:solid;
/*     border-color:; */
    transition:transform 0.4s,box-shadow 0.4s;
    margin:20px 0px;
    text-align:right;
/*     border-radius:20px; */
    border-width:2px;
/*     box-shadow:2px 2px 0px; */
    #rem{
      cursor:pointer;
      height:0px;
      position:absolute;
/*       top:10px; */
      border-style:none;
      background-color:transparent;
      span{
        position:relative;
        right:26px;
        bottom:8px;
        font-size:28px;
      }
    }
    p{
      text-align:left;
      font-size:22px;
      margin:0px;
      padding:40px;
      background-color:orange;
    }
    h2{
      text-align:left;
      margin:0px;
      background-color:white;
/*       color:white; */
      padding:10px;
/*       width:fit-content; */
      border-style:solid;
      border-width:2px;
    }
    p{
      background-color:bisque;
      padding:10px;
    }
  }
}
}
#d .e:hover{
/*   transform:scale(1.05); */
  transform: translate(0px,10px) scale(1.04);
  border-color:black;
  box-shadow:0px -8px 0px rgba(0,0,0,0.2);
}

@media screen and (max-width:1000px){
  #ib{
    #ia{
      padding:12px 0px;
      #bcon{
        gap:42px;
        #rem{
          font-size:18px;
        }
      #add{
        font-size:18px;
      }
      }
      h1{
        font-size:26px;
        margin:12px 0px;
      }
      input{
        font-size:18px;
        width:90%;
      }
      label{
/*         width:fit-content; */
/*         background-color:orange; */
        font-size:24px;
        width:100%;
        text-align:center;
      }
      width:100%;
      
    }
  }
  header{
    #d-info{
      div{
        img{
          width:100px;
        }
      }
      h2{
       font-size:20px;
      }
    }
  }
  header nav #l{
    gap:18px;
    a{
      font-size:20px;
    }
  }
  #d .con .e{
    width:90%;
    p{
      font-size:18px;
    }
    h2{
      font-size:18px;
    }
  }
}